html {
font-size: 100%;
}

body {
  font-family: sans-serif;
  background-color: #f6f6f6;
  color: #252525;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-left: 11em;
}

body a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.header {
  height: 5em;
  background-color: #ffffff;
}

.logo {
  position: absolute;
  top: 0.5em;
  left: 1em;
}

.toplinks ul {
  margin: 0;
  padding-left: 49em;
  padding-top: 0.4em;
}

.toplinks li {
  list-style: none;
  line-height: 1.125em;
  float: left;
  margin-left: 0.75em;
  margin-top: 0.5em;
  font-size: 0.75em;
  white-space: nowrap;
}

nav ul {
  display: inline-block;
  margin:0;
  height:auto;
}

nav ul li {
  display: inline-block;
  list-style: none;
  border-left: 1px solid #a7d7f9;
  height: 2em;
}

.menu {
  position: relative;
  top: 2em;
  background-image: linear-gradient(0deg #f6f6f6 70%,#ffffff 100%);
  height: 4.1em;
  font-size: 0.75em;
}

.searchbar input {
  width: 20em;
  height: 1.7em;

}

.leftmenu {
  padding-top: 0.5em;
  float: left;
  display: inline;
  padding-left: 1px;
  margin-left: -3.4em;
}

.leftmenu li a {
  height: 1.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.rightmenu {
  display: inline;
  padding-left: 1px;
  margin-left: 32em;
}

.rightmenu li a {
  height: 1.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.colonne {
  float: left;
}

.colonne:after {
  content: "";
	position: fixed;
	width: inherit;
	background: inherit;
}

.colonne-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 11em;
  background-image: linear-gradient(0deg, #f6f6f6 80%, #ffffff);
  background-color: #f6f6f6;
}

.colonne-content li {
  list-style: none;
}

.colonne-content a {
  font-size: 0.75em;
}

.colonne-content p {
  font-size: 0.75em;
}

.colonne-content {
  color: #555555;
}

.top-colonne {
  margin-left: -1em;
  margin-top: 12em;
  border-bottom: 1px solid #d8d8d8;
}

.contribuer {
  margin-right: 0.6em;
  padding: 0.25em 0 0.25em 0.25em;
  border-bottom: 1px solid #d8d8d8;
}

.contribuer p {
  margin-left: 2em
}

.outils {
  margin-right: 0.6em;
  border-bottom: 1px solid #d8d8d8;
}

.outils p {
  margin-left: 2em;
}

.content {
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  background-color: #ffffff;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.content h1 {
  font-size: 1.8em;
  font-weight: normal;
  border-bottom: 1px #aaa solid;
}

.content h1 span {
  font-style: italic;
}

.content h1, .content h2 {
  font-family: "Linux Libertine",Georgia,Times,serif;
  line-height: 1.3;
  margin-bottom: 0.25em;
  padding: 0;
}

.homonymie {
  padding-left: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.7em;
  background: white;
  font-style: italic;
  border-bottom: 1px #aaa solid;
  font-size: 0.875em;
}

.homonymie div {
margin-left: 0.2em;
}

.infobox {
  padding: 5px;
  width: 25em;
  background: #f9f9f9;
  border: 1px solid #aaa;
  clear: right;
  float: right;
  font-size: 0.9em;
  margin: 0.5em 0 0.5em 1em;
  max-width: 325px;
  color: #252525
}

.enteteiconcinema {
  background-image: url("pictoinfoboxcinema.png");
  background-color: #09c8bd;
  opacity: 0.8;
  display: table;
  height: 45px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.1em;
  margin-bottom: 10px;
  background-position: right center;
  background-repeat: no-repeat;
}

.infobox .imagefc {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hr {
  background-color: #aaa;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  margin: 5px 0;
}

.infobox caption .hidden {
  margin: 0;
  padding: 0;
  line-height: 1px;
  font-size: 1px;
}

caption .hidden {
  position: static;
  text-indent: -5000px;
}

.hidden {
  left: 0;
  top: -5000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.infobox table {
  width: 100%;
  margin: 5px 0;
  table-layout: fixed;
  border-collapse: collapse;
}

.infobox th[scope="row"] {
  text-align  : left;
  padding-right: 10px;
  max-width: 140px;
  word-wrap: normal;
}

.infobox th[scope="row"], .infobox td {
  padding-top: 4px;
  vertical-align: super;
}

.infobox th {
  width:10em;
}

.description {
  font-size: 90%;
  line-height: 1.5em;
}

.fc {
  font-weight: bold;
  font-style: italic;
}
